---
#
# 35703 - Ensure root user umask is configured.

- name: Check if /root/.bash_profile exists
  ansible.builtin.stat:
    path: /root/.bash_profile
  register: bashprofile_stat

- name: "Umask‑Root | fixing /root/.bash_profile"
  when: bashprofile_stat.stat.exists
  become: true
  block:
    - name: Remove any existing umask lines
      ansible.builtin.replace:
        path: /root/.bash_profile
        regexp: '^\s*umask\b.*$'
        replace: ''

    - name: Add compliant umask line
      ansible.builtin.lineinfile:
        path: /root/.bash_profile
        line: "{{ umask_value }}"
        insertafter: EOF
        create: false


- name: Check if /root/.bashrc exists
  ansible.builtin.stat:
    path: /root/.bashrc
  register: bashrc_stat

- name: "Umask‑Root | fixing /root/.bashrc"
  when: bashrc_stat.stat.exists
  become: true
  block:
    - name: Remove any existing umask lines
      ansible.builtin.replace:
        path: /root/.bashrc
        regexp: '^\s*umask\b.*$'
        replace: ''

    - name: Add compliant umask line
      ansible.builtin.lineinfile:
        path: /root/.bashrc
        line: "{{ umask_value }}"
        insertafter: EOF
        create: false
