---
- name: Install chrony and tzdata (Debian/Ubuntu)
  ansible.builtin.apt:
    name:
      - tzdata
      - chrony
    state: present
    update_cache: true
    cache_valid_time: 3600
  when: ansible_os_family == "Debian"

- name: Setting your timezone
  community.general.timezone:
    name: "{{ timezone }}"
  become: true

- name: Ensure /etc/chrony/sources.d/local-ntp-server.conf exists
  ansible.builtin.file:
    path: /etc/chrony/sources.d/local-ntp-server.conf
    state: touch
    owner: root
    group: root
    mode: '0700'

- name: Add NTP servers to the Chrony configuration file
  ansible.builtin.lineinfile:
    path: /etc/chrony/sources.d/local-ntp-server.conf
    regexp: '^servers ='
    line: "{{ item }}"
  with_items: "{{ chrony_ntp_servers }}"

- name: Enable and start chrony
  ansible.builtin.service:
    name: chronyd
    state: started
    enabled: true
