---
- name: Ensure tzdata is installed
  ansible.builtin.package:
    name: tzdata
    state: present

- name: Setting your timezone
  community.general.timezone:
    name: "{{ timezone }}"
  become: true

- name: Install chrony
  ansible.builtin.package:
    name: chrony
    state: present

- name: Configure chrony NTP servers
  ansible.builtin.lineinfile:
    path: /etc/chrony.conf
    regexp: '^server '
    line: "server {{ item }} iburst"
    create: true
    owner: root
    group: root
    mode: '0640'
  loop: "{{ chrony_ntp_servers }}"
  notify: Restart chrony

- name: Enable and start chrony
  ansible.builtin.service:
    name: chronyd
    state: started
    enabled: true
