---
- name: Installing package aide
  ansible.builtin.apt:
    name: aide
    state: present
    update_cache: true

- name: Create a exclude some files
  ansible.builtin.template:
    src: 00_local_excludes.j2
    dest: /etc/aide/aide.conf.d/00_local_excludes
    owner: root
    group: root
    mode: '0640'

- name: Initialize aide database
  ansible.builtin.command: aide --init --config /etc/aide/aide.conf
  args:
    creates: /var/lib/aide/aide.db.gz
