## 33253 - Cambios en sudoers
-w /etc/sudoers -p wa -k scope
-w /etc/sudoers.d -p wa -k scope

## 33254 - Acciones como otro usuario
-a always,exit -F arch=b64 -C euid!=uid -F auid!=unset -S execve -k user_emulation
-a always,exit -F arch=b32 -C euid!=uid -F auid!=unset -S execve -k user_emulation

## 33255 - Modificaciones al log de sudo
-w /var/log/sudo.log -p wa -k sudo_log_file
