## 33263 - Información de inicio de sesión
-w /var/run/utmp -p wa -k session
-w /var/log/wtmp -p wa -k session
-w /var/log/btmp -p wa -k session

## 33264 - Eventos de login/logout
-w /var/log/lastlog -p wa -k logins
-w /var/run/faillock -p wa -k logins

## 33265 - Eliminación de archivos
-a always,exit -F arch=b64 -S unlink,unlinkat,rename,renameat,rmdir -F auid>=1000 -F auid!=unset -k delete
-a always,exit -F arch=b32 -S unlink,unlinkat,rename,renameat,rmdir -F auid>=1000 -F auid!=unset -k delete
