---

- name: Gather service facts
  ansible.builtin.service_facts:

- name: Set SSH service name dynamically
  ansible.builtin.set_fact:
    ssh_service_name: >-
      {{ 'sshd' if 'sshd.service' in ansible_facts.services
         else 'ssh' }}

- name: Restart sshd
  ansible.builtin.service:
    name: "{{ ssh_service_name }}"
    state: restarted
