- name: Update cache and install Tripwire package (Debian/Ubuntu)
  ansible.builtin.apt:
    name: tripwire
    state: present
    update_cache: true
    cache_valid_time: 3600
  when: ansible_os_family == "Debian"

- name: Deploy Tripwire policy template
  ansible.builtin.template:
    src: templates/twpol.txt.j2
    dest: /etc/tripwire/twpol.txt
    owner: root
    group: root
    mode: '0644'
  notify: Compile Tripwire policy

- name: Check if site key exists
  ansible.builtin.stat:
    path: /etc/tripwire/site.key
  register: site_key_stat

- name: Check if local key exists
  ansible.builtin.stat:
    path: "/etc/tripwire/{{ ansible_fqdn }}-local.key"
  register: local_key_stat

- name: Generate Tripwire keys
  ansible.builtin.shell: |
    set -o pipefail
    echo "{{ setup_tripwire_site_passphrase }}"  | twadmin --generate-keys --site-keyfile /etc/tripwire/site.key
    echo "{{ setup_tripwire_local_passphrase }}" | twadmin --generate-keys --local-keyfile /etc/tripwire/{{ ansible_fqdn }}-local.key
  args:
    executable: /bin/bash
    creates: /etc/tripwire/keys/site.key
  when: not site_key_stat.stat.exists or not local_key_stat.stat.exists
  no_log: true

- name: Check if Tripwire database exists
  ansible.builtin.stat:
    path: "/var/lib/tripwire/{{ ansible_hostname }}.twd"
  register: tripwire_db_stat

- name: Initialize Tripwire database
  ansible.builtin.shell: |
    tripwire --init \
      --local-passphrase "{{ setup_tripwire_local_passphrase }}"
  args:
    executable: /bin/bash
  when: not tripwire_db_stat.stat.exists
  no_log: true
  register: tripwire_init
  changed_when: tripwire_init.rc == 0
