---
- name: Install unattended-upgrades
  ansible.builtin.apt:
    name:
      - unattended-upgrades
    state: present
    cache_valid_time: 3600
    update_cache: true
  when: ansible_os_family == 'Debian'

- name: Configure unattended-upgrades local
  ansible.builtin.template:
    src: jail.local.j2
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    owner: root
    group: root
    mode: '0644'
  notify: Restart unattended-upgrades