---
- name: Create a file /etc/security/pwquality.conf
  ansible.builtin.template:
    src: pwquality.conf.j2
    dest: /etc/security/pwquality.conf
    owner: root
    group: root
    mode: "0644"

- name: Create a file /etc/modprobe.d/blacklisting.conf don't load this modules
  ansible.builtin.template:
    src: blacklisting.conf.j2
    dest: /etc/modprobe.d/blacklisting.conf
    owner: root
    group: root
    mode: "0640"

- name: Create file /etc/sysctl.conf
  ansible.builtin.template:
    src: sysctl.conf.j2
    dest: /etc/sysctl.conf
    owner: root
    group: root
    mode: "0640"

- name: Create file /etc/security/faillock.conf
  ansible.builtin.template:
    src: faillock.conf.j2
    dest: /etc/security/faillock.conf
    owner: root
    group: root
    mode: "0640"
