---
# Role        : pam_pwquality
# Description : This role is designed to be idempotent, meaning you can run it multiple times,
#              and it will only make changes if the system is not in the desired state.
#              It follows Ansible best practices by using handlers, templates, and variables.
#
# This role solve the the following wazuh id
#
# 35674 - Ensure pam_pwquality module is enabled.
# 35679 - Ensure password number of changed characters is configured
# 35680 - Ensure minimum password length is configured
# 35681 - Ensure password complexity is configured
# 35682 - Ensure password same consecutive characters is configured.
# 35683 - Ensure password maximum sequential characters is configured
# 35684 - Ensure password dictionary check is enabled
# 35685 - Ensure password quality checking is enforced
# 35686 - Ensure password quality is enforced for the root user

- name: "Create a file /etc/security/pwquality.conf"
  ansible.builtin.template:
    src: pwquality.conf.j2
    dest: /etc/security/pwquality.conf
    owner: root
    group: root
    mode: "0644"

- name: "Ensure that directory /etc/security/pwquality.conf.d/ exists"
  ansible.builtin.file:
    path: /etc/security/pwquality.conf.d
    state: directory
    mode: "0755"

- name: "Create a file /usr/share/pam-config/pwquality"
  ansible.builtin.template:
    src: pwquality.j2
    dest: /usr/share/pam-configs/pwquality
    owner: root
    group: root
    mode: '0644'
  register: created_pwquality_profile

- name: "Enable default pwquality profile"
  ansible.builtin.command: pam-auth-update --enable --package pwquality
  changed_when: created_pwquality_profile.changed
  register: enabled
