---
#
#  35687 - Ensure password history remember is configured.
#
- name: "Detect existing pam_pwhistory profile"
  ansible.builtin.shell: |
    for f in /usr/share/pam-configs/*; do
      if grep -q '\bpam_pwhistory\.so\b' "$f"; then
        echo "$(basename $f)"
        exit 0
      fi
    done
  register: _pwhistory_detected
  changed_when: false          # detection is never a change

- name: "Set profile name fact"
  ansible.builtin.set_fact:
    pwhistory_profile_name: "{{ _pwhistory_detected.stdout | default(pwhistory_profile_name) }}"

- name: Create Create pam_pwhistory profile file
  ansible.builtin.template:
    src: pwhistory.j2
    dest: /usr/share/pam-configs/pwhistory
    owner: root
    group: root
    mode: "0644"
  when: _pwhistory_detected.stdout == ''
  register: _profile_created

- name: Check if profile is already enabled in /etc/pam.d/common-password
  ansible.builtin.shell:
    cmd: |
      grep -q '^{{ pwhistory_profile_name }}$' /etc/pam.d/common-password || exit 1
  register: _profile_enabled_check
  ignore_errors: true
  changed_when: false

- name: Enable profile with pam-auth-update
  ansible.builtin.command:
    cmd: pam-auth-update --enable {{ pwhistory_profile_name }}
  when:
    - _pwhistory_detected.stdout == ''
    - _profile_enabled_check.rc != 0
  changed_when: true
