---
- name: Verify that the common-session file exists
  ansible.builtin.stat:
    path: /etc/pam.d/common-session
  register: common_session_file

- name:  Verify current file contents
  ansible.builtin.command: grep -E '^session\s+required\s+pam_limits\. so' /etc/pam. d/common-session
  register:  pam_limits_check
  changed_when: false
  failed_when: false
  when: common_session_file.stat.exists

- name: Show current status
  ansible.builtin.debug:
    msg: >
      {% if pam_limits_check.rc == 0 %}
      The configuration already exists in the file.
      {% else %}
      The configuration does not exist; it will be added.
      {% endif %}
  when: common_session_file. stat.exists

- name: Ensure that pam_limits.so is configured
  ansible.builtin.lineinfile:
    path:  /etc/pam.d/common-session
    regexp: '^session\s+required\s+pam_limits\. so'
    line: 'session required pam_limits.so'
    state: present
    backup: yes
  when: common_session_file.stat.exists

- name: Verify final configuration
  ansible.builtin.command: grep 'pam_limits.so' /etc/pam.d/common-session
  register: final_check
  changed_when: false
  when: common_session_file.stat.exists

- name: Show final configuration
  ansible.builtin.debug:
    var: final_check.stdout_lines
  when: common_session_file. stat.exists

- name: Create a file /etc/security/limits.d/memlock.conf
  ansible.builtin.template:
    src: memlock.conf.j2
    dest: /etc/security/limits.d/memlock.conf
    owner: root
    group: root
    mode: '0640'
