- name: Create a file /etc/security/limits.d/memlock.conf
  ansible.builtin.template:
    src: memlock.conf.j2
    dest: /etc/security/limits.d/memlock.conf
    owner: root
    group: root
    mode: '0640'