---
- name: Check if /etc/cups/cupsd.conf exists
  ansible.builtin.stat:
    path: /etc/cups/cupsd.conf
  register: file_stat

- name: Setting permission 0700 /etc/cups/cupsd.conf
  ansible.builtin.file:
    path: /etc/cups/cupsd.conf
    mode: "0700"
    owner: root
    group: root
  when: file_stat.stat.exists

- name: Check if /etc/sysctl.conf exists
  ansible.builtin.stat:
    path: /etc/sysctl.conf
  register: file_stat

- name: Setting permission 0600 /etc/sysctl.conf
  ansible.builtin.file:
    path: /etc/sysctl.conf
    state: touch
    mode: "0600"
    owner: root
    group: root
  when: file_stat.stat.exists

- name: Check if /usr/bin/as exists
  ansible.builtin.stat:
    path: /usr/bin/as
  register: file_stat

- name: Setting permission 0444 /usr/bin/as
  ansible.builtin.file:
    path: /usr/bin/as
    mode: "0444"
    owner: root
    group: root
  when: file_stat.stat.exists

# Wazuh id 35594 - Ensure permissions on /etc/crontab are configured.
- name: Remove group and other permissions in /etc/crontab
  ansible.builtin.file:
    path: /etc/crontab
    mode: "0600"                        # Equivalent: chmod og-rwx
    owner: root
    group: root

# Wazuh id 35595 - Ensure permissions on /etc/cron.hourly are configured.
- name: Ensure owner root:root in /etc/cron.hourly
  ansible.builtin.file:
    path: /etc/cron.hourly
    owner: root                         # chown root:root /etc/cron.hourly/
    group: root
    mode: "0700"                        # chmod og-rwx /etc/cron.hourly/

# Wazuh id 35596 - Ensure permissions on /etc/cron.daily are configured.
- name: Ensure root:root ownership in /etc/cron.daily
  ansible.builtin.file:
    path: /etc/cron.daily
    owner: root                       # chown root:root /etc/cron.daily/
    group: root
    mode: "0700"                      #  chmod og-rwx /etc/cron.daily/

# Wazuh id 35597- Ensure permissions on /etc/cron.weekly are configured.
- name: Ensure root:root ownership in /etc/cron.weekly
  ansible.builtin.file:
    path: /etc/cron.weekly
    owner: root
    group: root
    mode: "0700"

# Wazuh id 35598 - Ensure permissions on /etc/cron.monthly are configured.
- name: Ensure root:root ownership in /etc/cron.monthly
  ansible.builtin.file:
    path: /etc/cron.monthly
    owner: root
    group: root
    mode: "0700"

# Wazuh id 35599 - Ensure permissions on /etc/cron.d are configured.
- name: Ensure root:root ownership in /etc/cron.d
  ansible.builtin.file:
    path: /etc/cron.d
    owner: root
    group: root
    mode: "0700"

- name: Check if /etc/security/opasswd exists
  ansible.builtin.stat:
    path: /etc/security/opasswd
  register: opasswd_stat

# Wazuh id 35770 - Ensure permissions on /etc/security/opasswd are configured.
- name: Set secure permissions for /etc/security/opasswd if it exists
  ansible.builtin.file:
    path: /etc/security/opasswd
    mode: "0600"
    owner: root
    group: root
    state: file
  when: opasswd_stat.stat.exists

- name: Check if /etc/security/opasswd.old exists
  ansible.builtin.stat:
    path: /etc/security/opasswd.old
  register: opasswd_old_stat

# Wazuh id 35770 - Ensure permissions on /etc/security/opasswd are configured.
- name: Set secure permissions for /etc/security/opasswd.old if it exists
  ansible.builtin.file:
    path: /etc/security/opasswd.old
    mode: "0600"
    owner: root
    group: root
    state: file
  when: opasswd_old_stat.stat.exists

- name: Wazuh id 33044 Check if /boot/grub/grub.cfg exists
  ansible.builtin.stat:
    path: /boot/grub/grub.cfg
  register: grub_stat

# Wazuh id 35541 - Ensure access to bootloader config is configured.
# chown root:root /boot/grub/grub.cfg
# chmod u-x,go-rwx /boot/grub/grub.cfg.
- name: Set secure permissions for /boot/grub/grub.cfg if it exists
  ansible.builtin.file:
    path: /boot/grub/grub.cfg
    mode: "0600"                                       # chmod u-x,go-rwx /boot/grub/grub.cfg
    owner: root                                        # chmod root:root /boot/grub/grub.cfg
    group: root
    state: file
  when: grub_stat.stat.exists

- name: Check if /etc/issue exists # Wazuh id 33052
  ansible.builtin.stat:
    path: /etc/issue
  register: etc_issue_stat

- name: Set secure permissions for /etc/issue if it exists
  ansible.builtin.file:
    path: /etc/issue
    mode: "0644" # chmod u-x,go-wx $(readlink -e /etc/issue)
    owner: root
    group: root
    state: file
  when: etc_issue_stat.stat.exists

- name: Check if /etc/issue.net exists # wazuh id 33053
  ansible.builtin.stat:
    path: /etc/issue.net
  register: etc_issue_net_stat

- name: Set secure permissions for /etc/issue.net if it exists
  ansible.builtin.file:
    path: /etc/issue.net
    mode: "0644" # chmod u-x,go-wx $(readlink -e /etc/issue.net)
    owner: root
    group: root
    state: file
  when: etc_issue_net_stat.stat.exists
