---
- name: Check if /etc/cups/cupsd.conf exists
  ansible.builtin.stat:
    path: /etc/cups/cupsd.conf
  register: file_stat

- name: Setting permission 0700 /etc/cups/cupsd.conf
  ansible.builtin.file:
    path: /etc/cups/cupsd.conf
    mode: '0700'
    owner: root
    group: root
  when: file_stat.stat.exists

- name: Check if /etc/sysctl.conf exists
  ansible.builtin.stat:
    path: /etc/sysctl.conf
  register: file_stat

- name: Setting permission 0600 /etc/sysctl.conf
  ansible.builtin.file:
    path: /etc/sysctl.conf
    state: touch
    mode: '0600'
    owner: root
    group: root
  when: file_stat.stat.exists

- name: Check if /usr/bin/as exists
  ansible.builtin.stat:
    path: /usr/bin/as
  register: file_stat

- name: Setting permission 0444 /usr/bin/as
  ansible.builtin.file:
    path: /usr/bin/as
    mode: '0444'
    owner: root
    group: root
  when: file_stat.stat.exists

- name: Remove group and other permissions in /etc/crontabb
  ansible.builtin.file:
    path: /etc/crontab
    mode: '0600'  # Equivalent:  chmod og-rwx
    owner: root
    group: root

- name: Ensure owner root:root in /etc/cron.hourly
  ansible.builtin.file:
    path: /etc/cron.hourly
    owner: root
    group: root
    mode: '0700'

- name: Ensure og-rwx permissions in /etc/cron.hourly
  ansible.builtin.file:
    path: /etc/cron.hourly
    mode: '0700'

- name: Ensure root:root ownership in /etc/cron.daily
  ansible.builtin.file:
    path: /etc/cron.daily
    owner: root
    group: root
    mode: '0700'

- name: Ensure og-rwx permissions in /etc/cron.daily
  ansible.builtin.file:
    path: /etc/cron.daily
    mode: '0700'

- name: Ensure root:root ownership in /etc/cron.weekly
  ansible.builtin.file:
    path: /etc/cron.weekly
    owner: root
    group: root
    mode: '0700'

- name: Ensure og-rwx permissions in /etc/cron.weekly
  ansible.builtin.file:
    path: /etc/cron.weekly
    mode: '0700'

- name: Ensure root:root ownership in /etc/cron.monthly
  ansible.builtin.file:
    path: /etc/cron.monthly
    owner: root
    group: root
    mode: '0700'

- name: Ensure og-rwx permissions in /etc/cron.monthly
  ansible.builtin.file:
    path: /etc/cron.monthly
    mode: '0700'

- name: Ensure root:root ownership in /etc/cron.d
  ansible.builtin.file:
    path: /etc/cron.d
    owner: root
    group: root
    mode: '0700'

- name: Ensure og-rwx permissions in /etc/cron.d
  ansible.builtin.file:
    path: /etc/cron.d
    mode: '0700'

- name: Check if /etc/security/opasswd exists
  ansible.builtin.stat:
    path: /etc/security/opasswd
  register: opasswd_stat

- name: Set secure permissions for /etc/security/opasswd if it exists
  ansible.builtin.file:
    path: /etc/security/opasswd
    mode: '0600'
    owner: root
    group: root
    state: file
  when: opasswd_stat.stat.exists

- name: Check if /etc/security/opasswd.old exists
  ansible.builtin.stat:
    path: /etc/security/opasswd.old
  register: opasswd_old_stat

- name: Set secure permissions for /etc/security/opasswd.old if it exists
  ansible.builtin.file:
    path: /etc/security/opasswd.old
    mode: '0600'
    owner: root
    group: root
    state: file
  when: opasswd_old_stat.stat.exists
