---
- name: Check if /etc/cups/cupsd.conf exists
  ansible.builtin.stat:
    path: /etc/cups/cupsd.conf
  register: file_stat

- name: Setting permission 0700 /etc/cups/cupsd.conf
  ansible.builtin.file:
    path: /etc/cups/cupsd.conf
    mode: '0700'
    owner: root
    group: root
  when: file_stat.stat.exists

- name: Check if /etc/sysctl.conf exists
  ansible.builtin.stat:
    path: /etc/sysctl.conf
  register: file_stat

- name: Setting permission 0600 /etc/sysctl.conf
  ansible.builtin.file:
    path: /etc/sysctl.conf
    state: touch
    mode: '0600'
    owner: root
    group: root
  when: file_stat.stat.exists

- name: Check if /usr/bin/as exists
  ansible.builtin.stat:
    path: /usr/bin/as
  register: file_stat

- name: Setting permission 0444 /usr/bin/as
  ansible.builtin.file:
    path: /usr/bin/as
    mode: '0444'
    owner: root
    group: root
  when: file_stat.stat.exists

- name: Eliminar permisos a grupo y otros en /etc/crontab
  ansible.builtin.file:
    path: /etc/crontab
    mode: '0600'  # Equivalente a chmod og-rwx
    owner: root
    group: root

- name: Asegurar propietario root:root en /etc/cron.hourly
  ansible.builtin.file:
    path: /etc/cron.hourly
    owner: root
    group: root
    mode: '0700'

- name: Asegurar permisos og-rwx en /etc/cron.hourly
  ansible.builtin.file:
    path: /etc/cron.hourly
    mode: '0700'

- name: Asegurar propietario root:root en /etc/cron.daily
  ansible.builtin.file:
    path: /etc/cron.daily
    owner: root
    group: root
    mode: '0700'

- name: Asegurar permisos og-rwx en /etc/cron.daily
  ansible.builtin.file:
    path: /etc/cron.daily
    mode: '0700'

- name: Asegurar propietario root:root en /etc/cron.weekly
  ansible.builtin.file:
    path: /etc/cron.weekly
    owner: root
    group: root
    mode: '0700'

- name: Asegurar permisos og-rwx en /etc/cron.weekly
  ansible.builtin.file:
    path: /etc/cron.weekly
    mode: '0700'

- name: Asegurar propietario root:root en /etc/cron.monthly
  ansible.builtin.file:
    path: /etc/cron.monthly
    owner: root
    group: root
    mode: '0700'

- name: Asegurar permisos og-rwx en /etc/cron.monthly
  ansible.builtin.file:
    path: /etc/cron.monthly
    mode: '0700'

- name: Asegurar propietario root:root en /etc/cron.d
  ansible.builtin.file:
    path: /etc/cron.d
    owner: root
    group: root
    mode: '0700'

- name: Asegurar permisos og-rwx en /etc/cron.d
  ansible.builtin.file:
    path: /etc/cron.d
    mode: '0700'
