---
# Role: at_security
# Description: Ensure at is restricted to authorized users. Solve Wazuh ID 35601

- name: "Ensure the 'at' package is installed"
  ansible.builtin.package:
    name: at
    state: present

- name: "Check if group 'daemon' exists"
  ansible.builtin.command:
    cmd: getent group daemon
  register: getent_daemon
  changed_when: false
  failed_when: false

- name: "Determine which group to use (daemon or root)"
  ansible.builtin.set_fact:
    at_group: "{{ 'daemon' if getent_daemon.rc == 0 else 'root' }}"

- name: "Show current at_group variable"
  ansible.builtin.debug:
    msg: "at_group = '{{ at_group | default('NOT SET') }}'"

#
# ---------- /etc/at.allow ----------
- name: "Check if /etc/at.allow exists"
  ansible.builtin.stat:
    path: /etc/at.allow
  register: at_allow_stat

- name: "Ensure /etc/at.allow exists and is configured"
  ansible.builtin.file:
    path: /etc/at.allow
    state: touch
    owner: root
    group: "{{ at_group }}"
    mode: '0640'
  when: (ansible_facts['os_family'] is defined)                  # idempotence, always is true

- name: "Enforce permissions on /etc/at.allow"
  ansible.builtin.file:
    path: /etc/at.allow
    owner: root
    group: "{{ at_group }}"
    mode: '0640'
  when: (ansible_facts['os_family'] is defined)                  # idempotence, always is true

# ---------- /etc/at.deny ----------
- name: "Check if /etc/at.deny exists"
  ansible.builtin.stat:
    path: /etc/at.deny
  register: at_deny_stat

- name: "Change owner of /etc/at.deny (if it exists)"
  ansible.builtin.file:
    path: /etc/at.deny
    owner: root
    group: "{{ at_group }}"
  when: at_deny_stat.stat.exists

- name: "Set restrictive permissions on /etc/at.deny (if it exists)"
  ansible.builtin.file:
    path: /etc/at.deny
    mode: '0640'
  when: at_deny_stat.stat.exists
