---
- name: "Verify modprobe configuration"
  ansible.builtin.command: modprobe -n -v {{ item }}
  register: modprobe_check
  changed_when: false
  failed_when: "'install /bin/false' not in modprobe_check.stdout"
  loop: "{{ filtered_filesystem_modules }}"

- name: "Verify module is not loaded"
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      lsmod | grep -w {{ item }}
  register: lsmod_check
  changed_when: false
  failed_when: lsmod_check.rc == 0
  loop: "{{ filtered_filesystem_modules }}"
