Ubuntu GNU/Linux
Restricted access. Unauthorized use prohibited.
Acceso restringido. Uso no autorizado prohibido.
Accès restreint. Utilisation non autorisée interdite.
Zugang beschränkt. Unbefugte Nutzung verboten.