---
# Role: configure_login_defs
# Description: login.defs configuration based on Wazuh recommendations.

# Wazuh Summary
# 35694 - Ensure password expiration is configured. PASSED
# 35695 - Ensure minimum password days is configured. FAILED
# TODO 35696 - Ensure password expiration warning days is configured. PASSED
# 35697 - Ensure strong password hashing algorithm is configured. PASSED
# 35706 - Ensure default user umask is configured. PASSED

- name: Ensure PASS_MAX_DAYS in /etc/login.defs
  ansible.builtin.import_tasks: set_login_defs.yml

- name: Update users whose password age violates policy
  ansible.builtin.import_tasks: update_users_chage.yml

- name: Populate root last-change date if required
  when: login_defs_populate_root_last_change | bool
  ansible.builtin.import_tasks: populate_root_last_change.yml
