---
- name: Ensure auditd is installed
  ansible.builtin.package:
    name: auditd
    state: present
    update_cache: true

- name: Create a file /etc/audit/auditd.conf
  ansible.builtin.template:
    src: auditd.conf.j2
    dest: /etc/audit/auditd.conf
    owner: root
    group: root
    mode: '0640'

- name: Create a file /etc/audit/audit.rules
  ansible.builtin.template:
    src: audit.rules.j2
    dest: /etc/audit/audit.rules
    owner: root
    group: root
    mode: '0640'

- name: Create a file /etc/audit/rules.d/20-sudo-sudoers.rules
  ansible.builtin.template:
    src: rules.d/20-sudo-sudoers.rules.j2
    dest: /etc/audit/rules.d/20-sudo-sudoers.rules
    owner: root
    group: root
    mode: '0640'


- name: Create a file /etc/audit/rules.d/30-time-locale.rules
  ansible.builtin.template:
    src: rules.d/30-time-locale.rules.j2
    dest: /etc/audit/rules.d/30-time-locale.rules
    owner: root
    group: root
    mode: '0640'

- name: Create a file /etc/audit/rules.d/40-access-identity.rules
  ansible.builtin.template:
    src: rules.d/40-access-identity.rules.j2
    dest: /etc/audit/rules.d/40-access-identity.rules
    owner: root
    group: root
    mode: '0640'


- name: Create a file /etc/audit/rules.d/50-perm-mounts.rules
  ansible.builtin.template:
    src: rules.d/50-perm-mounts.rules.j2
    dest: /etc/audit/rules.d/50-perm-mounts.rules
    owner: root
    group: root
    mode: '0640'


- name: Create a file /etc/audit/rules.d/60-session-login.rules
  ansible.builtin.template:
    src: rules.d/60-session-login.rules.j2
    dest: /etc/audit/rules.d/60-session-login.rules
    owner: root
    group: root
    mode: '0640'


- name: Create a file /etc/audit/rules.d/70-mac-commands.rules
  ansible.builtin.template:
    src: rules.d/70-mac-commands.rules.j2
    dest: /etc/audit/rules.d/70-mac-commands.rules
    owner: root
    group: root
    mode: '0640'


- name: Create a file /etc/audit/rules.d/80-modules.rules
  ansible.builtin.template:
    src: rules.d/80-modules.rules.j2
    dest: /etc/audit/rules.d/80-modules.rules
    owner: root
    group: root
    mode: '0640'


- name: Create a file /etc/audit/rules.d/99-finalize.rules
  ansible.builtin.template:
    src: rules.d/99-finalize.rules.j2
    dest: /etc/audit/rules.d/99-finalize.rules.rules
    owner: root
    group: root
    mode: '0640'


- name: Create rules file for network environment modification events
  ansible.builtin.copy:
    content: |
      # Rule 33257: Ensure events that modify the network environment are collected
      -a always,exit -F arch=b64 -S sethostname -S setdomainname -S sethostname
      -a always,exit -F arch=b32 -S sethostname -S setdomainname -S sethostname
    dest: /etc/audit/rules.d/99-network.rules
    owner: root
    group: root
    mode: '0640'

- name: Create rules file for user/group modification events
  ansible.builtin.copy:
    content: |
      # Rule 33260: Ensure events that modify user/group information are collected
      -w /etc/passwd -p wa
      -w /etc/shadow -p wa
      -w /etc/group -p wa
    dest: /etc/audit/rules.d/99-user-modification.rules
    owner: root
    group: root
    mode: '0640'

- name: Create rules file for login/logout events
  ansible.builtin.copy:
    content: |
      # Rule 33264: Ensure login and logout events are collected
      -w /var/log/faillog -p wa
      -w /var/log/lastlog -p wa
      -w /var/log/tallylog -p wa
    dest: /etc/audit/rules.d/99-login-logout.rules
    owner: root
    group: root
    mode: '0640'

- name: Create rules file for SELinux-related events
  ansible.builtin.copy:
    content: |
      # Rule 33266: Ensure events that modify Mandatory Access Controls are collected
      -a always,exit -F arch=b64 -S setxattr -F key=security
      -a always,exit -F arch=b32 -S setxattr -F key=security
    dest: /etc/audit/rules.d/99-selinux.rules
    owner: root
    group: root
    mode: '0640'

- name: Create rules file for chcon command
  ansible.builtin.copy:
    content: |
      # Rule 33267: Ensure successful and unsuccessful attempts to use the chcon command are collected
      -a always,exit -F arch=b64 -S chcon
      -a always,exit -F arch=b32 -S chcon
    dest: /etc/audit/rules.d/99-chcon.rules
    owner: root
    group: root
    mode: '0640'

- name: Create rules file for setfacl command
  ansible.builtin.copy:
    content: |
      # Rule 33268: Ensure successful and unsuccessful attempts to use the setfacl command are collected
      -a always,exit -F arch=b64 -S setfacl
      -a always,exit -F arch=b32 -S setfacl
    dest: /etc/audit/rules.d/99-setfacl.rules
    owner: root
    group: root
    mode: '0640'

- name: Create rules file for chacl command
  ansible.builtin.copy:
    content: |
      # Rule 33269: Ensure successful and unsuccessful attempts to use the chacl command are collected
      -a always,exit -F arch=b64 -S chacl
      -a always,exit -F arch=b32 -S chacl
    dest: /etc/audit/rules.d/99-chacl.rules
    owner: root
    group: root
    mode: '0640'

- name: Create rules file for usermod command
  ansible.builtin.copy:
    content: |
      # Rule 33270: Ensure successful and unsuccessful attempts to use the usermod command are collected
      -a always,exit -F arch=b64 -S usermod
      -a always,exit -F arch=b32 -S usermod
    dest: /etc/audit/rules.d/99-usermod.rules
    owner: root
    group: root
    mode: '0640'

- name: Create rules file for kernel module loading/unloading/modification events
  ansible.builtin.copy:
    content: |
      # Rule 33271: Ensure kernel module loading, unloading, and modification events are collected
      -a always,exit -F arch=b64 -S init_module -S delete_module
      -a always,exit -F arch=b32 -S init_module -S delete_module
    dest: /etc/audit/rules.d/99-kernel-modules.rules
    owner: root
    group: root
    mode: '0640'

- name: Create a file /etc/audit/rules.d/audit.rules
  ansible.builtin.template:
    src: rules.d/audit.rules.j2
    dest: /etc/audit/rules.d/audit.rules
    owner: root
    group: root
    mode: '0640'

# ---
- name: Ensure auditd service is running
  ansible.builtin.service:
    name: auditd
    state: started
    enabled: true
  notify: Restart auditd

- name: Reload auditd configuration to apply changes
  ansible.builtin.systemd:
    name: auditd
    state: restarted
  when: ansible_facts['os_family'] == "Debian"
  notify:
    - Restart auditd
