---
- name: Create a file /etc/issue
  ansible.builtin.template:
    src: issue.j2
    dest: /etc/issue
    owner: root
    group: root
    mode: '0644'

- name: Create a file /etc/issue.net
  ansible.builtin.template:
    src: issue.j2
    dest: /etc/issue.net
    owner: root
    group: root
    mode: '0644'
