---
- name: Apply updates && install packages
  hosts: dev.local
  become: true
  roles:
    - configure_local_login_banner
    - configure-timezone
    - update_upgrade
    - file_permission
    - configure_login_def
    - configure_auditd
    - suggested_software_packages
    - suggested_software_packages_desktop
    - setup_rkhunter
    - hardening_debian
