---
- name: Shutdown all
  hosts: all
  gather_facts: false
  tasks:
    - name: Shutdown all
      ansible.builtin.command: shutdown -h now
      become: true
      changed_when: false # Assume that it does not change the state of the system in an observable way.
      notify: Wait turned off

    - name: Wait turned off
      ansible.builtin.wait_for:
        host: "{{ ansible_ssh_host }}"
        port: 22
        state: stopped
        timeout: 300
      delegate_to: localhost
