# Configuration for locking the user after multiple failed
# authentication attempts.
#
# The directory where the user files with the failure records are kept.
# The default is /var/run/faillock.
# dir = /var/run/faillock

# Will log the user name into the system log if the user is not found.
# Enabled if option is present.
audit

#
# Don't print informative messages.
# Enabled if option is present.
# silent
#
# Don't log informative messages via syslog.
# Enabled if option is present.
# no_log_info
#
# Only track failed user authentications attempts for local users
# in /etc/passwd and ignore centralized (AD, IdM, LDAP, etc.) users.
# The `faillock` command will also no longer track user failed
# authentication attempts. Enabling this option will prevent a
# double-lockout scenario where a user is locked out locally and
# in the centralized mechanism.
# Enabled if option is present.
local_users_only

#
# Root account can become locked as well as regular accounts.
# Enabled if option is present.
# even_deny_root
#


# Wazuh id 35676 - Ensure password failed attempts lockout is configured.
deny = 5

# Wazuh id 35677 - Ensure password unlock time is configured.
unlock_time = 1800              # set unlock_time > 900. ie 900 = 15 min, 1800 = 30 min, 2700

# Wazuh id 35678 - Ensure password failed attempts lockout includes root account.
root_unlock_time = 900

fail_interval = 900

# If a group name is specified with this option, members
# of the group will be handled by this module the same as
# the root account (the options `even_deny_root>` and
# `root_unlock_time` will apply to them.
# By default, the option is not set.
# admin_group = <admin_group_name>
