# /etc/security/pwquality.conf
# Password quality configuration

#  Wazuh id 35679 - Ensure password number of changed characters is configured
difok = 4

# Wazuh id 35680 - Ensure minimum password length is configured
minlen = 14

# Wazuh id 35682 - Ensure password same consecutive characters is configured.
maxrepeat = 3

#  Wazuh id 35683 - Ensure password maximum sequential characters is configured
maxsequence = 3

#  Wazuh id 35684 - Ensure password dictionary check is enabled
dictcheck = 1

#  Wazuh id 35685 - Ensure password quality checking is enforced
enforcing = 1

#  Wazuh id 35686 - Ensure password quality is enforced for the root user
enforce_for_root
